/public/hot
/node_modules
/public/storage
/storage/*.key
/storage/api-docs
/docker
/vendor
/.idea
/public
**/.idea
/.settings
/.vscode
.phpunit.result.cache
.project
.dockerignore
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
nohup.out
